:root {
    --bl-primary-color: #abd1c6;
    --bl-secondary-color: #004643;
    --bl-dark-color: #004643;
    --bl-light-color: #e8e4e6;
    --bl-navbar-glow: #f9bc60;
}

/*--------------------------------*/

html,body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--bl-primary-color);
}

.content {
    flex: 1 0 auto;
    margin-top: 5rem;
}

footer {
    flex-shrink: 0;
}

/*---- Footer Override Starts -----*/
.footer {
    background: var(--bl-dark-color);
    color: var(--bl-light-color);
}

.socialIcons {
    color: var(--bl-primary-color);
    font-size: 1.5rem;
    padding-left: .3rem;
}

.socialIcons:hover {
    color: var(--bl-light-color)
}

/*---- Footer Override ends -----*/

/* Icons */
.fab {
    transition: 0.4s;
  }
  
  .fas, .hover{
    transition: 0.4s;
  }
  
  .fab:hover {
    color: var(--green);
    -moz-transform: translate(0px, -5px);
    -ms-transform: translate(0px, -5px);
    -o-transform: translate(0px, -5px);
    -webkit-transform: translate(0px, -5px);
    transform: translate(0px, -5px)
  }
  
  .fas:hover, .hover:hover {
    color: var(--green);
    -moz-transform: translate(0px, -5px);
    -ms-transform: translate(0px, -5px);
    -o-transform: translate(0px, -5px);
    -webkit-transform: translate(0px, -5px);
    transform: translate(0px, -5px)
  }
  
  .icon {
    font-size: 1.3em; 
    color: #b0a388;
  }
  
    .test {
      background-color: var(--white);
    }
  
    input:focus {
      box-shadow: none !important;
    }
  
    .btn:focus {
      box-shadow: none !important;
    }
  

.appLogo {
    max-width: 600px;
}


/*---- Nav Bar Override Starts ---- */
#mainNav {
    background-color: var(--bl-dark-color);
}

#mainNav button {
    border-color: var(--bl-primary-color);
}

.navbar-toggler {
    color: var(--bl-navbar-glow);
}

.navbar-toggler-icon-bl {
    color: var(--bl-primary-color);
    font-size: 1.5rem;
}

/*---- Nav Bar Override Ends ---- */
.checkList {
    list-style-type: none;
}

.checkList>li i {
    color: var(--bl-secondary-color);
}


.devIcons {
    color: var(--bl-secondary-color);
    font-size: 3rem;
    padding-left: .3rem;
}

/*------- Button style override starts ---------*/
.btn-outline-primary {
    color: var(--bl-dark-color);
    border-color: var(--bl-secondary-color) !important;
  }

  .btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus {
  border-color: var(--bl-highlight-color);
  background-color: var(--bl-secondary-color);
}

.btn-primary {
    color: var(--bl-light-color);
    background-color: var(--bl-secondary-color);
    border-color: var(--bl-secondary-color);
    
  }
  
  .btn-secondary {
    color: var(--bl-light-color);
    background-color: #55423d;
    border-color: #55423d;
    
  }
  
  .btn-secondary:hover {
    filter: brightness(1.1) !important;
    background-color: #a15656;
    border-color: #ffc0ad;
  }
  
  .btn-primary:hover {
    filter: brightness(1.1) !important;
    background-color: var(--bl-primary-color);
    border-color: var(--bl-highlight-color);
  }
  
  .btn-primary:visited,
  .btn-primary:active,
  .btn-primary:focus {
    filter: brightness(1.1) !important;
    border-color: var(--bl-primary-color);
  }
  
  
  /*---------- button style override ends -------------*/

  .mortgage-form-wrapper {
    background-color: var(--bl-primary-color);
    padding: 30px 30px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    min-width: 420px;
  }
  @media screen and (max-width: 480px) {
    .mortgage-form-wrapper {
      min-width: 0;
      width: 100%;
    }
  }
  .mortgage-form-wrapper h1 {
    margin: 0 0 15px;
  }
  .mortgage-form-wrapper input {
    transition: all 0.5s ease;
  }
  .mortgage-form-wrapper input[type=number] {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    font-size: small;
    padding: 11px;
  }
  .mortgage-form-wrapper input[type=number]:invalid {
    background-color: rgba(240, 128, 128, 0.075);
    border: 1px solid lightcoral;
    outline: none;
  }
  .mortgage-form-wrapper input[type=number]:empty {
    background-color: white;
    border: 1px solid #ddd;
  }
  .mortgage-form-wrapper input[type=number]:valid {
    background-color: rgba(32, 178, 170, 0.075);
    border: 1px solid lightseagreen;
    outline: none;
  }
  .mortgage-form-wrapper input[type=number].error {
    background-color: rgba(240, 128, 128, 0.075);
    border: 1px solid lightcoral;
    outline: none;
  }
  .mortgage-form-wrapper input[type=number].error:valid {
    background-color: rgba(32, 178, 170, 0.075);
    border: 1px solid lightseagreen;
    outline: none;
  }
  .mortgage-form-wrapper p {
    margin: 0 0 15px;
  }
  .mortgage-form-wrapper label {
    display: block;
  }
  
  p.motgage-result {
    margin: 0 0 15px;
  }
  p.motgage-result .error-message {
    color: lightcoral;
    font-weight: 700;
  }
  p.motgage-result .success-message {
    color: lightseagreen;
    font-weight: 700;
  }
  
  .mortgage-form--help {
    font-size: small;
    font-style: italic;
    color: var(--bl-dark-color);
    text-align: right;
  }
  
  
  
  
  .reset-btn {
    display: none;
  }
  